body {
	padding-top: 80px;
}

.hippoNav {
	background-color: white;
	border: none;
}

.hippoNav > .container {
	height: 60px;
	background: linear-gradient(to bottom, #C5C4C8, #A9A9AE);
	font-family: 'Happy Monkey', cursive;
	border: 1px solid black;
}

#hippoBrand {
	font-size: 35px;
	color: #5C5757;
	margin-top: -10px; 
}

#hippoLogo {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.navbar-nav > li > a {
	margin-top: 4px;
	font-size: 20px;
	color: #5C5757;
}

#hippoNavButton {
	background-color: #5C5757;
}

#hippoNavButton > span {
	background-color: #B4B4B4;
}

#hippoCarousel {
	border: 1px solid #5C5757;
}

.carousel-inner > .item > img {
	margin: 0 auto;
}

.carousel-content {
	position: absolute;
	bottom: 20%;
	left: 0;
	z-index: 20;
	color: #5C5757;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
	font-size: 20px;
	text-align: center;
}

footer {
	margin-top: 20px;
	font-size: 20px;
}

footer > .container {
	padding: 15px 0;
}

footer > .container > a {
	padding: 0 10px;
	color: #5C5757;
}

footer > .container > p {
	display: inline-block;
	float: right;
	padding-right: 10px;
}

aside > .btn {
	display: block;
	text-align: left;
	font-size: 20px;
	color: #5C5757;
}