<section class="container">

	<!-- Sidebar -->
	<aside class="col-sm-3">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a data-toggle="pill" href="#menuGeneral"><span class="glyphicon glyphicon-circle-arrow-right"></span>  General Info</a></li>
			<li><a data-toggle="pill" href="#menuHabitat"><span class="glyphicon glyphicon-circle-arrow-right"></span>  Habitat</a></li>
			<li><a data-toggle="pill" href="#menuBehaviour"><span class="glyphicon glyphicon-circle-arrow-right"></span>  Behaviour</a></li>
			<li><a data-toggle="pill" href="#menuTypes"><span class="glyphicon glyphicon-circle-arrow-right"></span>  Types of Hippo</a></li>
			<li><a data-toggle="pill" href="#menuPeople"><span class="glyphicon glyphicon-circle-arrow-right"></span>  People & Hippos</a></li>
		</ul>
	</aside>

	<!-- Collapsing Infomation Sections -->
	<article class="tab-content col-sm-9">
		<div id="menuGeneral" class="tab-pane fade in active">
			<h2>General Info</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div id="menuHabitat" class="tab-pane fade">
			<h2>Habitat</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div id="menuBehaviour" class="tab-pane fade">
			<h2>Behaviour</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div id="menuTypes" class="tab-pane fade">
			<h2>Types of Hippo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div id="menuPeople" class="tab-pane fade">
			<h2>People & Hippos</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</article>
	
</section>